.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  background: #6725a8;
}
.footer__container-rounding {
  max-width: 1400px;
  height: 24px;
  border-radius: 0px 0px 24px 24px;
  background: rgba(246, 246, 250, 1);
}
.footer__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  align-self: stretch;
  align-self: stretch;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

@media screen and (max-width: 1024px) {
  .footer__container-rounding {
    height: 42px;
  }
}
